|
//  FOOTER 
footer.site-footer.page-section
  .container
    .row
      .col.l6.s12
        h5 About Me
        p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content.

        .col.l4.offset-l2.s12
          h5 Links
          ul
            li
              a(href="index.html" class="grey-text text-lighten-3") Abstract
            li
              a(href="logos.html" class="grey-text text-lighten-3") Logos
            li
              a(href="gaming.html" class="grey-text text-lighten-3") Gaming
    .row © 2018 Shamella
      a(class="grey-text text-lighten-4 right" href="#!") More Links