// Modal 1
  #abstract1.modal
    .modal-content
      h4 Dilligord
      img(src="./assets/images/projects--abstract-1.jpg")
    .modal-footer
      p
        i.material-icons star
        i.material-icons star
        i.material-icons star
        i.material-icons star
        i.material-icons star_border