.navbar-fixed.primary-nav
  nav
    .nav-wrapper.z-depth-2
      a(href="#" data-activates="mobile-nav" class="button-collapse show-on-large")
        i.material-icons menu
      a(href="index.html" class="brand-logo") Shamella
      ul.right.hide-on-med-and-down
        li.active
          a(href="index.html" class="primary-nav__link") Abstract
        li
          a(href="logo.html" class="primary-nav__link") Logos
        li
          a(href="gaming.html" class="primary-nav__link") Gaming
      ul(class="side-nav" id="mobile-nav")
        li.active
          a(href="index.html" class="side-nav__link") Abstract
        li
          a(href="logo.html" class="side-nav__link") Logos
        li
          a(href="gaming.html" class="side-nav__link") Gaming