.primary-nav {

    .nav-wrapper {
        background: $primary-color;
        padding-left: 25px;
        padding-right: 25px;
        height: 80px;
        line-height: 80px;

        & i {
            font-size: 32px;
            line-height: 80px;
        }
    }

    &__link {
        font-size: 1.125rem;
    }
}

.side-nav {

    li>a {
        font-size: 1.125rem;
    }
}